*~
__pycache__/
.ipynb_checkpoints/
/Raspi/build/
/Raspi/dist/
/Raspi/src/endless_proto.egg-info/
/Raspi/src/endless_prototype.egg-info/
/Raspi/endless_prototype.egg-info/
/Yocto/qemux86-64/bitbake.lock
